---
layout: home
---

<div class="partners-section">
  <h5>Some partners I’ve worked with:</h5>
  <ul class="logo-container">
    <li><img src="{{ site.baseurl }}/images/logos/philips_logo.png"></li>
    <li><img src="{{ site.baseurl }}/images/logos/NYPL_logo.png"></li>
    <li><img src="{{ site.baseurl }}/images/logos/littleBits_logo.png"></li>
    <li><img src="{{ site.baseurl }}/images/logos/sickkids_logo.png"></li>
    <li><img src="{{ site.baseurl }}/images/logos/kommune_logo.png"></li>
  </ul>
</div>

<div class="posts clearfix grid-display">
  {% for post in site.posts limit:1 %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <article class="post blog-post">    
        <div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>
        <h1>{{ post.title }}</h1>

        <div class="entry">
          <p>{{ post.desc }}</p>
          {{ post.content | truncatewords:40}}
    </div>
        
      </article>
    </a>
  {% endfor %}

  {% include portfolio_blocks.html %}
</div>
