---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/********************/
/* ANIMATION STUFFS */
/********************/

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

// .fade-in.one {
//   -webkit-animation-delay: 0.7s;
//   -moz-animation-delay: 0.7s;
//   animation-delay: 0.7s;
// }

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 23px/33px $georgia;
  color: $darkGray;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 10px;
  width: 100%;
  // background-color: $white;
  // z-index: 1;
}

.inline {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkGray;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
  
h1 {  
  font-size: 60px;
  margin: 40px 0;
  a {
    color: $red;
    border: none;
    &:hover {
      color: $darkRed;
    }
  }
}

.hero-container {
  margin-top: 10px;
  // z-index: -999;
}

.hero-img {
  // z-index: -998;
  // position: relative;
  // margin-bottom: -300px;
}

.logo-container {
  /* remove default list styles */
  list-style: none;
  margin: 0;
  padding: 0;
  //  remove spaces between li tags
  font-size: 0;
}

.logo-container li {
  vertical-align: middle;
  display: inline-block;
  width: 20%;
  padding: 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo-container img {
  display: block;
  width: 100%;
}

.post h1 {
  font-size: 60px;
  letter-spacing: -.03em;
  line-height: 1.1;
}

// Do we actually want differentiation for the blog post?
.grid-display .blog-post {
  // background-color: $xlightGray;
}

.grid-display .post {
  width: 220px;
  float: left;
  vertical-align: top;
  margin: .3em 20px 0 0;
  padding: .2em;
  height: 360px;
  overflow: hidden;
  @include mobile {
    margin: 0 20px;
    width: 300px;
  }
}

.grid-display .post h1 {
  font-size: 24px;
  line-height: 1.2;
  min-height: 60px;
  margin: 0 0 12px;
  letter-spacing: normal;
  font-weight: 700;
  color: $red;
}

 h1.site-name {
  font-size: 72px;
  line-height: 74px;
  font-weight: 700;
  max-width: 980px;
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: -.03em;
  a {
    color: $gray;
    border: none;
  }
  @include mobile {
    margin: 30px 20px 0;
  }
}

h2 {  
  font-size: 24px;
  margin: 48px 0 12px;
}

h3 {  
  font-size: 20px;
  margin: 40px 0 10px;
}

h4 {  
  font-size: 18px;
  color: $gray;
  margin: 36px 0 9px;
}

p {
  margin: 15px 0;
}

 p.site-description {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  max-width: 60%;
  margin-bottom: 40px;
  @include mobile {
    margin: 30px 20px 60px 20px;
  }
}

.grid-display .entry p {
  color: $gray;
}

a {
  color: $red;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px dotted $lightGray;
  padding-bottom: 2px;
  &:hover, &:active {
    color: $darkRed;
  }
  &.no-border {
    border: none;
  }
}

.grid-display .post {
  transition: background-color 0.3s ease;
  &:hover, &:active {
      transition: all 0.5s ease;
      background-color: $xlightGray;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: $darkGray;
}

blockquote {
  margin: 1.8em .8em;
  padding: 0.1em 1em;
  background-color: $xlightGray;
  font-family: $helveticaNeue;
  font-size: 18px;
}

img {
  max-width: 100%;
}

.date {
  font-size: 60%;
  color: $gray;
}

.grid-display p {
  font: 18px/26px $helveticaNeue;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.content-wrapper {
  min-height: 600px;
}
.masthead {
  padding: 20px 0 0;
  border-bottom: 1px solid $lightGray;
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: none;
  @include mobile {
    float: none;
    display: block;
    margin: 0 0 0 10px;
  }

  img {
    border-radius: 26px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue; 
  font-weight: 300;
  font-size: 28px;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 14px;
  font-family: $helveticaNeue;
  
  @include mobile {
    margin: 3px 0;
  }
}

.partners-section {
  @include mobile {
    margin: 0 20px;
  }
}

ul.work-list {
  list-style: none;
  @extend .grid-display;
  @extend .clearfix;
  padding-left: 0px;
  margin-left: 0px;

  strong {
    font-size: 13px;
    color: $gray;
  }

  li {
      width: 30%;
      float: left;
      vertical-align: top;
      margin: .3em 20px 0 0;
      padding: .2em;
      height: auto;
      @include mobile {
        margin: 0 0 20px;
        width: 100%;
      }
    @extend .inline;
    font: 15px/21px $helveticaNeue;
    &:hover {
      background-color: $white;
    }
  }
}

/******************/
/* PORTFOLIO PAGE */
/******************/

#portfolio-boilerplate {
  margin: 0 30px 20px 0px;
  // background-color: $darkGray;
  @extend .clearfix;

  .boilerplate-block {
    font: 15px/21px $helveticaNeue;
    color: $gray;
    // color: $white;
    // float: left;
    width: 50%;
    margin: 0 0 10px 0;
    padding-right: 10px;

    @include mobile {
      width: 100%;
    }

    h6 {
      font-size: 18px;
      font-weight: 700;
      color: $gray;
      // color: $xlightGray;
    }
  }
}

.right-col {
  float: right;
}

.left-col {
  float: left;
}

nav {
  float: right;
  margin-top: 23px;
  font-family: $helveticaNeue; 
  font-size: 16px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 10px;
    color: $gray;
    width: 175px;
    display: block;
    float: right;
    border-bottom: none;
    padding-left: 10px;

    &:hover {
      transition: all .1s ease;
      background-color: $darkGray;
      color: $white;
    }

    &:active {
      transition: all .1s ease;
      background-color: $white;
      color: $darkRed;
    }
    @include mobile {
      // transition: all .3s ease;
      display: inline-block;
      float: none;
      margin: 0 10px;
      color: $darkGray;
      width: 80px;
      text-align: left;
    }
  }
}

article {
  @include mobile {
    margin: 0 20px;
  }
}

.heroic {
  margin-top: 10px;
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 1px dotted $gray;
    padding: 0.1em 1em;
    color: $gray;
  }

  .eyebrow {
    font-size: 12px;
    font-family: $helveticaNeue;
    line-height: 30px;
    color: $gray;
    padding-top: 6px;
    margin-bottom: 6px;
    border-top: 1px solid $medGray;
  }

  .comments {
    margin-top: 10px;
  }

  .small-link {
    font-size: 11px;
    color: $medGray;
    display: block;
      &:hover {
        color: $red;
      }
  }
  .large-link {
    font-size: 20px;
    color: $red;
    font-weight: 500;
    display: block;
    margin-top: 20px;
      &:hover {
        color: $darkRed;
      }
  }
  .primary-link {
    color: #000;
    font-size: 13px;
    font-weight: 500;
  }
  .spacer {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $lightGray;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
  font: 12px $helveticaNeue;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";