  <div class="posts clearfix">
  {% for post in site.posts %}
      <article class="post blog-post">    
        <div class="eyebrow">{{ post.date | date: "%d %b %Y" }}</div>
    <a href="{{ site.baseurl }}{{ post.url }}" class="no-border">
        <h1>{{ post.title }}</h1>

        <div class="entry">
          <p>
            {{ post.desc }}
            {{ post.content | truncatewords:40 | strip_html }}
          </p>
        </div>
    </a>
        
        <a href="{{ site.baseurl }}{{ post.url }}" class="large-link no-border">Read more…</a>
      </article>
  {% endfor %}
</div>
