
//
// VARIABLES
//

// Colors
$blue: #4183C4; 

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #555;
$gray: #777;
$medGray: #999;
$lightGray: #ccc;
$xlightGray: #f2f2f2;
$white: #fff;
$red: #d42;
$darkRed: #c30;

// Font stacks

$helvetica: Americane, Helvetica, Arial, sans-serif;
$Americane: Americane, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}