<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <!-- Favicon business -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Antlers and Anchors">
    <meta name="application-name" content="Antlers and Anchors">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="/myfontscript.js"></script>

    <!--
    /**
     * @license
     * MyFonts Webfont Build ID 3189593, 2016-03-20T18:34:50-0400
     * 
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are 
     * explicitly restricted from using the Licensed Webfonts(s).
     * 
     * You may obtain a valid license at the URLs below.
     * 
     * Webfont: Americane-Light by HVD Fonts
     * URL: http://www.myfonts.com/fonts/hvdfonts/americane/light/
     * 
     * Webfont: Americane-Bold by HVD Fonts
     * URL: http://www.myfonts.com/fonts/hvdfonts/americane/bold/
     * 
     * 
     * License: http://www.myfonts.com/viewlicense?type=web&buildid=3189593
     * Licensed pageviews: 10,000
     * Webfonts copyright: Copyright (c) 2015 by Hannes von Doehren. All rights reserved.
     * 
     * © 2016 MyFonts Inc
    */

    -->
    <link rel="stylesheet" type="text/css" href="/Americane/Americane.css">


    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now herro -->
  </head>

  <body id="home">
    <div class="content-wrapper">

    {% include masthead.html %}

    <div class="container hero-container">
      <img class="hero-img fade-in" src="{{ site.url }}/images/candidates/finalists/graphite and noise overhead.jpg">
    </div>

    <div class="container">
      <!-- <h1 class="site-name"><a href="/">{{ site.name }}</a></h1> -->
      <h1 class="site-name"><a href="/">Hi, I’m Michael-Owen Liston.</a></h1>
      
      <!-- <p class="site-description">{{ site.description }}</p> -->
      <p class="site-description">I design services and products, make music, and love to tell stories. <a href="{{ site.baseurl }}/michael">Let’s talk!</a></p>

      <!-- <p class="site-description">I recently prototyped an SMS chatbot based service to connect Greenlandic Inuit in Denmark to community resources.</p> -->
      <p class="site-description">I listen, research, explore, synthesize, sketch, provoke, prototype, facilitate, teach, and deliver.</p>  

    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    </div><!-- /content-wrapper -->

    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>
