---
layout: default
---

<article class="post">
	<div class="heroic">
		<img src="{{ page.heroic }}" class="fade-in"/>
	</div>
  <h1>{{ page.title }}</h1>

  <div id="portfolio-boilerplate">
  	<div id="team" class="boilerplate-block left-col">
  		<h6>Team</h6>
  		{% for team_member in page.team_members %}
        {% if forloop.last %}
        <strong>{{ team_member.name }}:</strong> {{ team_member.role }}

        {% else %}
        <strong>{{ team_member.name }}:</strong> {{ team_member.role }}<br/>

        {% endif %}

  		{% endfor %}	
  	</div>
    
    <div id="Date" class="boilerplate-block left-col">
      <h6>Date</h6>
      {{ page.date}}
    </div>

    <div id="skills" class="boilerplate-block right-col">
      <h6>Skills</h6>
      {{ page.skills}}
    </div>

    <div id="context" class="boilerplate-block right-col">
      <h6>Context</h6>
      {{ page.context}}
    </div>

  </div>

  <div class="entry">
    {{ content }}
  </div>


  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>